.form_control input,
.form_control select {
  padding: 7px;
  border-style: solid;
  border-radius: 6px;
  background-color: rgb(226, 226, 226);
  border-color: rgb(226, 226, 226);
  width: 200px;
}

.form_control__invalid input,
.form_control__invalid select {
  padding: 7px;
  border-style: solid;
  border-radius: 6px;
  background-color: lightpink;
  border-color: crimson;
  width: 200px;
}

.form_control__invalid input:focus {
  outline: crimson;
  background-color: #fbbf7b;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.error_text {
  color: crimson;
}

.button_container {
  display: flex;
  justify-content: center;
}
