@import url('https://fonts.googleapis.com/css2?family=Chango&family=Inter&family=Poppins:wght@300&family=Quicksand:wght@600&family=Rampart+One&family=Roboto&family=Yuji+Boku&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
}

p {
  display: flex;
  justify-content: center;
}
